@import "../abstracts/variables";
@import "../abstracts/mixins";

.about {
    &__container {
        background: rgb(51, 51, 51);
        border-radius: 1.2rem;
        color: white;
        padding: 3% 15%;
        line-height: 2;
        text-align: center;
        box-shadow: $box-shadow;

        @include media(tablet-p) {
            padding: 3% 8%;
        }
    }

    &__head {
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        padding: 0 10% 2rem 10%;
        font-family: "Cinzel";
        color: #dbb04a;
        text-transform: uppercase;
        text-shadow: $box-shadow;

        @media (max-width: 500px) {
            font-size: 3.3rem;
        }
    }

    &__body--main {
        font-size: 1.7rem;
        font-weight: 200;

        @include media(phone) {
            font-size: 2.2rem;
        }
    }

    &__body--foot {
        text-align: center;
        font-size: 1.3rem;
        padding-top: 5rem;
    }

    &__github--container {
        margin-top: 40px;
        text-align: center;
    }

    &__github--link {
        margin-left: 10px;
        color: rgb(51, 51, 51);
        text-decoration: none;
    }

    &__github--link:hover {
        text-decoration: none;
    }

    &__github--btn {
        background-color: #dbb04a !important;
        box-shadow: $box-shadow !important;
    }

    &__original--caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }

    &__image--container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        align-content: space-around;
        align-items: center;

        @include media(phone) {
            flex-wrap: wrap;
        }
    }

    &__image {
        margin-top: 4rem;
        width: 15vw;
        border-radius: 12px;
        transition: 0.2s;

        @include media(phone) {
            flex: 0 0 25%;
            width: 35vw;
        }
    }

    &__image:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow;
    }

    &__image:active {
        transform: scale(1.05);
    }

    &__image--link {
        width: 100%;
        margin: 0 2rem;

        @include media(phone) {
            width: 35vw;
        }
    }
}

.about__mockup {
    &--container {
        margin-top: 3rem;
        background: rgb(51, 51, 51);
        border-radius: 1.2rem;
        color: white;
        padding: 3% 15%;
        line-height: 2;
        text-align: center;
        box-shadow: $box-shadow;

        @include media(phone) {
            padding: 3% 5%;
        }
    }
}

.aboutimg {
    position: relative;

    &__container {
        background: rgb(51, 51, 51);
        border-radius: 1.2rem;
        color: white;
        padding: 3% 15%;
        line-height: 2;
        text-align: center;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 80%;
        border-radius: 12px;
    }
}

.fa-arrow-left {
    position: absolute;
    top: 5rem;
    left: 5rem;
    font-size: 4rem;
    color: white;
    transition: 0.2s;

    @include media(tablet-p) {
        top: 2.5rem;
        left: 2.5rem;
    }

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.05);
    }
}
