.header {
    height: 85vh;
    background-size: cover;
    background-position: top;
    border-radius: 8px;
    position: relative;
    animation-fill-mode: forwards;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 60% 100%, 40% 100%, 0 80vh);
    background-image: linear-gradient(315deg, #e9b34fde 0%, #ebb755dc 74%),
        url("../../images/bookshelf.jpg");
}

.logo-box {
    position: absolute;
    top: 20px;
    left: 10px;
}

.logo {
    height: 100px;
}

.page-head-container: {
}

.page-head {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}

.page-head-main {
    display: block;
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    letter-spacing: 10px;
    animation: fadeInHead 2.5s ease;
}

.page-head-sub {
    opacity: 0;
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    animation: fadeInSub 2s ease-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.page-head-actually {
    font-weight: 700;
}

.btn-signup:link,
.btn-signup:visited,
.btn-login:link,
.btn-login:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #ebb755;
    padding: 10px 30px;
    margin: 0 25px;
    font-size: 1rem;
    display: inline-block;
    border-radius: 20px;
    transition: 0.2s;
    background-image: linear-gradient(
        to top right,
        rgb(39, 39, 39),
        rgb(44, 44, 44),
        rgb(37, 37, 37),
        rgb(39, 39, 39)
    );
    position: relative;
    overflow: hidden;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
    transform: translateY(-1px);
}

@keyframes fadeInHead {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSub {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
