@import "../abstracts/variables";
@import "../abstracts/mixins";

.features {
    display: flex;
    padding: 4rem;
    color: black;
    background: $main-gradient-light;
    box-shadow: $box-shadow;
    border-radius: 12px;
    margin-top: 3rem;

    //breakpoint for flex-wrap
    @media (max-width: 1075px) {
        flex-wrap: wrap;
    }
}

.features__section {
    flex: 1 0 22%;
    justify-content: space-around;
    margin: 3rem 1.5rem;
    background-image: $gold-gradient;
    height: 32rem;
    display: inline-block;
    padding-top: 7rem;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: 12px;
    position: relative;
    transition: 0.2s;
    min-height: 35rem;

    @media (max-width: 1075px) {
        flex: 0 0 46%;
        height: 40vh;
    }

    @media (max-width: 680px) {
        flex: 1 0 92%;
    }

    &--icon {
        font-size: 4rem;
        position: relative;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 3rem;

        @include media(tablet-l) {
            font-size: 3.5rem;
        }

        @include media(tablet-p) {
            font-size: 2.8rem;
        }

        //flex-wrap begins
        @media (max-width: 1075px) {
            font-size: 5rem;
        }
    }

    &:hover {
        transform: translateY(-1rem);

        @media (max-width: 1075px) {
            transform: translateY(0);
        }
    }
}
