.footer {
    background: #0f0f0f;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 15vh;
    display: flex;
    padding: 0 5%;

    @media (max-width: 1062px) {
        height: 22vh;
    }

    @include media(tablet-p) {
        position: relative;
        margin-top: 4rem;
    }

    @media (max-width: 743px) {
        height: 30vh;
    }

    @include media(phone) {
        flex-wrap: wrap;
    }

    @media (max-width: 480px) {
        height: 33vh;
    }

    &__links {
        flex: 1 1 25%;
        align-self: center;
        text-align: center;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(tablet-p) {
            flex-direction: column;
        }

        @media (max-width: 710px) {
            font-size: 0.7rem;
            margin-top: 2rem !important;
        }

        @include media(phone) {
            font-size: 0.8rem;
        }
    }

    &__social {
        flex: 1 1 25%;
        align-self: center;
        text-align: center;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(tablet-p) {
            flex-direction: column;
        }
    }

    &__address {
        line-height: 2;
        flex: 1 1 25%;
        align-self: center;

        @include media(phone) {
            text-align: center;
        }

        @media (max-width: 480px) {
            margin-top: 2rem;
        }
    }
}

.footer__company {
    flex: 1 1 25%;
    align-self: center;
    text-align: center;
}
