.footer {
    background: #0f0f0f;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 0 5%;

    &__address {
        line-height: 2;
        flex: 0 0 25%;
        align-self: center;
    }
}

.footer__company {
    flex: 0 0 25%;
    align-self: center;
}
