.header {
    height: 85vh;
    background-size: cover;
    background-position: top;
    border-radius: 0.8rem;
    position: relative;
    animation-fill-mode: forwards;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 60% 100%, 40% 100%, 0 80vh);
    animation: fillInBkg 4s;
    background-image: linear-gradient(315deg, #e9b34fde 0%, #ebb755dc 74%);

    &::after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background-image: url("../../images/bookshelf.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        animation: fadeInBkg 2s ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    &__logo {
        height: 10rem;
    }

    &__text-box {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
    }
}

.header__title {
    &--main {
        display: block;
        text-transform: uppercase;
        font-family: "Cinzel", serif;
        letter-spacing: 1rem;
        animation: fadeInHead 2.5s ease;
    }

    &--sub {
        opacity: 0;
        display: block;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 2.5rem;
        animation: fadeInSub 1.5s ease-out;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
    }

    &--sub-actually {
        font-weight: 700;
    }
}

.header__btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #ebb755;
        padding: 1rem 3rem;
        margin: 0 2.5rem;
        font-size: 1.6rem;
        display: inline-block;
        border-radius: 2rem;
        transition: 0.2s;
        background-image: linear-gradient(
            to top right,
            rgb(39, 39, 39),
            rgb(44, 44, 44),
            rgb(37, 37, 37),
            rgb(39, 39, 39)
        );
        position: relative;
        overflow: hidden;
        animation: fadeInBtn 1s ease-out;
        animation-delay: 1.75s;
        animation-fill-mode: backwards;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
            0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
        transform: translateY(-0.1rem);
    }
}
