@import "../abstracts/variables";

.hook {
    padding: 4rem;
    background: $main-gradient-light;
    box-shadow: $box-shadow;
    border-radius: 12px;
    margin: 3rem 0;
    height: 20vh;
    display: flex;
    align-items: center;
    animation: fadeInHook 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

    &__box {
        align-self: center;
        height: 30vh;
        display: flex;
        align-items: center;
    }

    &__box--text {
        text-align: center;
        font-family: "Raleway", sans-serif;
        width: 90vw;
        background: $gold-gradient-2;
        background-clip: text;
        color: transparent;
        text-shadow: $box-shadow;
        text-transform: uppercase;
    }

    &__box--primary {
        font-size: 3.3rem;
    }

    &__box--sub {
        font-size: 2rem;
        font-weight: 200;
    }
}
