@import "../abstracts/variables";
@import "../abstracts//mixins";

.hook {
    padding: 4rem;
    background: $main-gradient-light;
    box-shadow: $box-shadow;
    border-radius: 12px;
    margin: 3rem 0;
    height: 20vh;
    display: flex;
    align-items: center;
    animation: fadeInHook 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

    &__box {
        align-self: center;
        height: 30vh;
        display: flex;
        align-items: center;
    }
}
