@import "../abstracts/mixins";

.images {
    display: flex;
    height: 100%;

    @media (max-width: 680px) {
        flex-wrap: wrap;
    }

    &__croptwo {
        flex: 1 0 0;
        height: 48rem;
        width: 45vw;
        align-self: flex-start;
        border-radius: 20px;
        -webkit-mask-image: -webkit-gradient(
            linear,
            right top,
            right bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
        );

        @include media(tablet-l) {
            height: 40rem;
        }

        @media (max-width: 1000px) {
            height: 35rem;
        }

        @media (max-width: 680px) {
            -webkit-mask-image: -webkit-gradient(
                linear,
                top,
                bottom,
                from(rgba(0, 0, 0, 1)),
                to(rgba(0, 0, 0, 0))
            );
            mask-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0)
            );
            flex: 0 0 75%;
            width: 100vw;
            height: 100%;
            margin: auto;
        }
    }

    &__cropone {
        flex: 1 0 0;
        height: 48rem;
        width: 45vw;
        align-self: flex-end;
        border-radius: 20px;
        -webkit-mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
        mask-image: linear-gradient(
            to left,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
        );

        @include media(tablet-l) {
            height: 40rem;
        }

        @media (max-width: 1000px) {
            height: 35rem;
        }

        @media (max-width: 680px) {
            -webkit-mask-image: -webkit-gradient(
                linear,
                bottom,
                top,
                from(rgba(0, 0, 0, 1)),
                to(rgba(0, 0, 0, 0))
            );
            mask-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0)
            );
            flex: 0 0 75%;
            width: 100vw;
            height: 100%;
            margin: auto;
        }

        @media (max-width: 450px) {
            flex: 0 0 50%;
        }
    }
}
