@import "../abstracts/mixins";

.navbar__content {
    width: 100%;
    display: flex;
    z-index: 1;
    height: 11vh;

    @include media(tablet-p) {
        height: 9vh;
    }

    @include media(phone) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &--logobox {
        position: relative;
        left: -0.7rem;
        top: 0.5rem;
    }

    &--logo {
        height: 7rem;
        position: absolute;

        @media (max-width: 450px) {
            display: none;
        }
    }

    &--logoSm {
        height: 7rem;
        position: absolute;

        @media (max-width: 450px) {
            display: inline-block;
        }
    }

    &--links {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        flex: 1 0 20%;
        align-self: flex-end;
        margin-right: 2rem;
    }

    &--link {
        // !important necessary for overriding Material-UI button attributes
        background-image: $gold-gradient-2 !important;
        background-clip: text;
        margin: 0 1rem !important;
        transition: 0.2s !important;
    }

    &--link:hover {
        transform: translateY(-0.2rem);
    }

    &--link:after {
        content: "";
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: 0.2s;
    }

    &--link:hover::after {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #fedb37;
    }

    &--link:active {
        //changes from 'transparent' to gold, adding Material-UI ripple
        color: #fedb37 !important;
    }
}
