@import "../abstracts/variables";

.pricing {
    height: 100%;
    margin: 5rem 0 0 0;

    &__flexbox {
        //changes to 1 per row at width = 900px
        display: flex;
        align-items: center;

        //flex-wrap begins
        @media (max-width: 770px) {
            flex-wrap: wrap;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        @include media(phone) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    &__button {
        width: 13rem;
        right: 0;
        box-shadow: $box-shadow;

        //temporarily shifts button to bottom
        @media (max-width: 1100px) {
            bottom: 0;
            width: 100%;
            height: 8rem !important;
        }

        @media (max-width: 770px) {
            right: 0;
            width: 12rem;
            height: 100% !important;
        }
    }

    &__button:hover {
        color: #f0f0f0 !important;
        background: rgb(30, 30, 30) !important;
    }
}

.pricing__plan {
    height: 50vh;
    display: inline-block;
    width: 45%;
    background: rgb(50, 50, 50);
    box-shadow: $box-shadow;
    border-radius: 12px;
    position: relative;
    min-height: 40.5rem;

    //flex-wrap begins
    @media (max-width: 770px) {
        height: 40.5rem;
    }

    &--basic {
        flex: 1 1 60rem;
        margin: 2rem;
        //flex-wrap begins
        @media (max-width: 770px) {
            flex: 1 0 90%;
            margin: 1rem;
        }
    }
    &--premium {
        flex: 1 1 60rem;
        margin: 2rem;

        //flex-wrap begins
        @media (max-width: 770px) {
            flex: 1 0 80%;
            margin: 1rem;
        }
    }

    &--title {
        position: absolute;
        top: 3.7rem;
        left: 10rem;

        @media (max-width: 480px) {
            font-size: 2.8rem;
        }

        @media (max-width: 480px) {
            left: 8.5rem;
        }
    }

    &--icon {
        height: 8rem;
        margin-right: 2rem;
        position: absolute;
        top: 3.1rem;
        left: 1.2rem;

        @media (max-width: 430px) {
            height: 6.5rem;
            top: 3.3rem;
        }
    }

    &--select {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
}

.fa-check {
    color: #c1ff98;
    padding-right: 1.5rem;
}

.fa-times {
    font-size: 2rem;
    color: rgb(238, 92, 92);
    padding-right: 1.5rem;
}
