@import "../abstracts/variables";

.pricing {
    height: 55vh;
    margin: 6rem 0 0 0;

    &__flexbox {
        //changes to 1 per row at width = 900px
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        color: white;
        height: 5rem;
        width: 13rem;
        top: 80%;
        left: 75%;
        box-shadow: $box-shadow;

        //for some reason these buttons weren't acting the way
        //I wanted them to so here's a few media queries

        @media (max-width: 1350px) {
            left: 72%;
        }
        @media (max-width: 1080px) {
            left: 68%;
        }
        @media (max-width: 980px) {
            left: 65%;
            top: 83%;
        }
    }
}

.pricing__plan {
    height: 50vh;
    display: inline-block;
    width: 45%;
    background: rgb(50, 50, 50);
    box-shadow: $box-shadow;
    border-radius: 12px;
    position: relative;

    &--basic {
        flex: 1 1 60rem;
        margin: 0 2rem 0 5rem;
    }
    &--premium {
        flex: 1 1 60rem;
        margin: 0 5rem 0 2rem;
    }

    &--title {
        position: absolute;
        top: 3.7rem;
        left: 10rem;
    }

    &--icon {
        height: 8rem;
        margin-right: 2rem;
        position: absolute;
        top: 3.1rem;
        left: 1.2rem;
    }
}

.fa-check {
    color: #c1ff98;
    padding-right: 1.5rem;
}

.fa-times {
    font-size: 2rem;
    color: rgb(238, 92, 92);
    padding-right: 1.5rem;
}
